[project]
	description = The Light Table IDE
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eric Pritchett (mortalapeman)
[access "refs/for/refs/*"]
	read = group user/Eric Pritchett (mortalapeman)
	push = group user/Eric Pritchett (mortalapeman)
	label-Code-Review = -2..+2 group user/Eric Pritchett (mortalapeman)
	label-Verified = -1..+1 group user/Eric Pritchett (mortalapeman)
	rebase = group user/Eric Pritchett (mortalapeman)
	removeReviewer = group user/Eric Pritchett (mortalapeman)
	submit = group user/Eric Pritchett (mortalapeman)
[access "refs/heads/*"]
	read = group user/Eric Pritchett (mortalapeman)
	create = group user/Eric Pritchett (mortalapeman)
	push = +force group user/Eric Pritchett (mortalapeman)
	pushMerge = group user/Eric Pritchett (mortalapeman)
[access "refs/tags/*"]
	push = +force group user/Eric Pritchett (mortalapeman)
	pushTag = group user/Eric Pritchett (mortalapeman)
	pushSignedTag = group user/Eric Pritchett (mortalapeman)
